body, html {
    min-height: 100%;
}

body {
    /* background: black; */
}


.my-navbar-top {
    display: flex;
}
.my-navbar-down {
    justify-content: center;
}
.down-navbar-title {
    color: white;
    flex: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
.down-navbar-title:hover {
    color: white;
    text-decoration: none;
}
.logo-container {
    flex: 1;
}
.title-middle-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-middle {
    font-size: 22px;
    text-align: center;
    color: black;
}
.title-middle:hover {
    color: black;
    text-decoration: none;
}
.rightContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sign-in-link {
    color: black;
}
.card-deck {
    row-gap: 4rem;
}
.shopping-item {
    min-width: 13rem;
    max-width: 13rem;
}

.sign-in-link:hover {
    color: black;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    min-height: calc(100vh - 147.5px);
}

.read-post-content {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.read-post-content .post-image {
    margin-bottom: 2rem;
}
.read-post-content .post-body {
    white-space: break-spaces;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.home-extra-container {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: end;
}

.cms-nav {
    margin-bottom: 1rem;
}

.read-post-content .post-title {

    margin-bottom: 2rem;
}
.post-list .post-image {
    width: 100%;
}

.post-list hr {

}
.post-image {
    max-width: 100%;
}
.post-description {

}

.post-date {
    font-size: 13px;
    color: gray;
    font-weight: bold;
}

.footer {
    background: #f8f9fa;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-privacy-terms {
    color: black;
    font-size: 15px;
    margin-left: 2rem
}
.footer-privacy-terms:hover {
    color: black;
    text-decoration: none;;
}

.register-form {
    width: 500px;
    margin: 3rem auto 0;
    padding: 30px 0;
}

.register-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.register-form-container {
    display: flex;
    flex-wrap: wrap;
}
.input-item {
    flex: 50%;
    max-width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 15px;
}
.input-title {
    margin-bottom: 4px;
    font-size: 14px;
}

.error-msg {
    display: none;
    color: red;
    font-size: 12px;
    bottom: -5px;
    position: absolute;
}

.register-button {
    width: 100%;
    margin: 15px;
}
.cmsContainer{

    width: 100%;
    padding: 15px;

}