<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{mainLayout.html}">


<th:block layout:fragment="content">
  <div class="about-container">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus malesuada nulla in tortor rutrum molestie. Nulla a fermentum justo. Nunc eu est placerat,
      scelerisque lectus at, pulvinar felis. Praesent pretium nulla non risus vestibulum lobortis. Integer ligula mauris,
      condimentum rhoncus malesuada in, tristique pulvinar nisl. Donec nec commodo odio. Quisque vitae mollis dui,
      vel euismod turpis. Mauris tincidunt diam quis scelerisque blandit. Donec ornare finibus augue, a lobortis lacus efficitur at.
      Proin tincidunt sollicitudin lacus, id ultrices enim viverra eget. Proin nec nulla nisi. Nulla sem velit, interdum pulvinar massa non, varius lacinia dui.
      Nam sit amet nisi gravida dui consequat convallis sed non arcu. Sed nec pulvinar dui, vel bibendum elit.
      Suspendisse dignissim quis enim eu scelerisque. Aenean libero nisl, rutrum in bibendum eget, dictum eget risus.
      Nullam dignissim est vitae justo lacinia, ac fermentum justo porta. Nam lacinia lobortis lectus, sit amet tristique felis tincidunt a.
      Nullam pellentesque, orci eget vulputate suscipit, ante metus gravida nisi, quis porta nisl tellus vitae ante.
      Nunc neque felis, lobortis vel dictum in, ultrices quis velit. Mauris in lorem eget turpis imperdiet molestie.
      Morbi eget molestie augue, quis consequat justo. Quisque porta, velit non tincidunt tincidunt, orci orci iaculis leo,
      vel euismod nisi nibh dapibus lacus. Praesent condimentum pulvinar urna, ac fringilla sem.
      Aenean vehicula dolor vitae eleifend rutrum. Etiam enim lectus, ultricies euismod euismod venenatis, venenatis sed mi. Donec at nisi turpis.
      Nulla non sapien ac turpis tincidunt vulputate blandit non mauris. Vivamus feugiat consectetur sapien, eget tempus orci dapibus sed.
      Aliquam nunc ipsum, pharetra eu leo eget, porta placerat risus. Nam sit amet porttitor dui.
    </p>
    <h5>Contact</h5>
    <a href="mailto: example@mail.com">example@mail.com</a>

  </div>


</th:block>



</html>