<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{mainLayout.html}"
>


<th:block layout:fragment="content">
    <h2>
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>
    </h2>
    <div>
        <div th:each="post:${allPosts}">

            <h4 th:text="${post.getTitle()}"></h4>
            <p th:text="${post.description}"></p>

        </div>
    </div>
</th:block>



</html>