<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{mainLayout.html}">

<th:block layout:fragment="content">
  <!-- <script th:src="@{/js/login.js}"></script> -->
  <div class="register-form">
    <div class="register-title-wrapper">
      <span class="register-title">Login</span>
    </div>
    <form th:action="@{/login}" method="POST">
      <div class="register-form-container">
        <div th:if="${param.error}" class="alert alert-error">
          Invalid username and password.
        </div>
        <div class="input-item">
          <span class="input-title">Username</span>
          <input class="form-control validation-item" name="username" type="text" />
          <span class="error-msg">Please enter valid username</span>
        </div>
        <div class="input-item">
          <span class="input-title">Password</span>
          <input class="form-control validation-item" name="password" type="password" />
          <span class="error-msg">Please enter valid password</span>
        </div>
        <button class="register-button btn btn-success" type="submit">Log in</button>
      </div>
    </form>
  </div>
</th:block>

</html>