<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{cmsLayout.html}"
>


<th:block layout:fragment="cmsContent">

  <div th:if="${#lists.isEmpty(allProducts)}">
    There are no records.
  </div>
  <div th:unless="${#lists.isEmpty(allProducts)}">

    <table class="table table-dark">

      <thead>
      <tr>
        <td>Product Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Delete</td>
        <td>Edit</td>
        <td>Duplicate</td>
      </tr>
      </thead>

      <tbody>
      <tr th:each="product: ${allProducts}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>

        <td>
          <a  th:href="@{/cms/deleteProduct/__${product.getId()}__}">
            <button class="btn btn-danger">Delete</button>
          </a>
        </td>
        <td>
          <a  th:href="@{/cms/editProduct/__${product.getId()}__}">
            <button class="btn btn-primary">Edit</button>
          </a>
        </td>
        <td>
          <a  th:href="@{/cms/duplicateProduct/__${product.getId()}__}">
            <button class="btn btn-warning">Duplicate</button>
          </a>
        </td>

      </tr>
      </tbody>


    </table>

  </div>

</th:block>



</html>